[Oo]bj/
[Bb]in/
/.vs/
PublishProfiles/
*.user
project.lock.json
node_modules

# Created during WebPack build
src/Hubbup.Web/wwwroot/dist/

# Ignore temporary ML model files
src/CreateMikLabelModel/*-issueData.tsv
src/CreateMikLabelModel/*-GitHubLabelerModel.zip
