<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="AspNetCore" value="https://dotnet.myget.org/F/aspnetcore-ci-dev/api/v3/index.json" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json"/>
        <add key="Octokit-CI" value="https://ci.appveyor.com/nuget/octokit-net" />
    </packageSources>
</configuration>
