<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="@("#" + PanelID)">
    @Title
</button>
<div class="collapse" id="@PanelID">
    <div class="well">
        @ChildContent
    </div>
</div>

@code
{
    [Parameter] public string PanelID { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}
