<span data-toggle="tooltip" data-placement="left" title="@Exception.Message">@Description</span>
<span class="glyphicon glyphicon-remove" style="color: red" aria-hidden="true"></span>

@{ 
    ((IJSInProcessRuntime)JSRuntime.Current).Invoke<object>("updateTooltips");
}

@functions {
    [Parameter]
    private string Description { get; set; }

    [Parameter]
    private Exception Exception { get; set; }
}
