@using Hubbup.IssueMover.Dto
@inject IJSRuntime JSRuntime

<span ref="tooltipElem" data-toggle="tooltip" data-placement="left" title="@ErrorMessage">@Description</span>
<span class="glyphicon glyphicon-remove" style="color: red" aria-hidden="true"></span>

@code
{
    ElementReference tooltipElem;

    [Parameter] public string Description { get; set; }
    [Parameter] public IErrorResult ErrorResult { get; set; }

    public string ErrorMessage
    {
        get
        {
            if (ErrorResult == null)
            {
                return "Unknown error";
            }
            if (ErrorResult.ErrorMessage != null)
            {
                return ErrorResult.ErrorMessage;
            }
            return ErrorResult.ExceptionMessage;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeAsync<object>("updateTooltips", tooltipElem);
    }
}
