@Description...
@if (!string.IsNullOrEmpty(Result))
{
    @Result

    if (Success)
    {
        <span class="glyphicon glyphicon-ok" style="color: green" aria-hidden="true"></span>
    }
    else
    {
        <span class="glyphicon glyphicon-remove" style="color: red" aria-hidden="true"></span>
    }
}

@code
{
    [Parameter] public string Description { get; set; }
    [Parameter] public string Result { get; set; }
    [Parameter] public bool Success { get; set; }
}
