
@{
    ViewData["PageTitlePrefix"] = "Home";
}

<p>
    <a href="/Mover"><img src="~/images/issue-mover-min.png" alt="Issue Mover" width="400" height="400" /></a>
    <a href="/miklabel"><img src="~/images/issue-labeler-min.png" alt="Issue Labeler" width="400" height="400" /></a>
</p>
