@model MissingReposViewModel

@{
    ViewData["PageTitlePrefix"] = "Missing Repos";
    ViewData["GitHubUserName"] = Model.GitHubUserName;
    ViewData["RepoSetNames"] = Model.RepoSetNames;
    ViewData["CurrentRepoSetName"] = ""; // This page has no repo set name
}

<h1>Repos not in any repo set</h1>

<div class="row">
    <div class="col-md-12">
        @foreach (var missingRepoSet in Model.MissingRepos)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>@missingRepoSet.Org</strong> <span class="badge">@missingRepoSet.MissingRepos.Count</span></h3>
                </div>
                <div class="panel-body">
                    @if (missingRepoSet.MissingRepos.Count > 0)
                    {
                        @foreach (var repo in missingRepoSet.MissingRepos)
                        {
                            <span class="bg-info" style="padding:5px; margin: 5px; line-height: 2.5em; border: 1px solid #ccc;">
                                <a style="white-space:nowrap;" href="https://github.com/@missingRepoSet.Org/@repo/issues">@missingRepoSet.Org/@repo</a>
                            </span>
                        }
                    }
                    else
                    {
                        <h3>No missing repos in this org</h3>
                    }
                </div>
            </div>
        }
    </div>
</div>
