@model LabelViewModel
@using Hubbup.Web.Utils

@{
    var hexColor = Model.Label?.Color ?? "ff0000";
    var massagedLabelText = Model.Label?.Name ?? ("Invalid label: " + Model.DesiredLabel);
    massagedLabelText = massagedLabelText.Replace(":framed_picture:", "\U0001f5bc");
}

<span class="badge"
        style="margin-left: 3px; padding-left: 7px; padding-right: 7px; border-radius: 24px; background-color: #@hexColor; color: #@ColorMath.GetHexForeColorForBackColor(hexColor)"
        title="@Model.Label?.Description">
    @massagedLabelText
</span>
