@page "{orgName}/{repoName}"
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment HostingEnvironment
@{
    var repoName = RouteData.Values["repoName"];
    var orgName = RouteData.Values["orgName"];
    ViewData["PageTitlePrefix"] = $"Dispatch {orgName}/{repoName}";
}

<div class="row issue-list-row">
    <div class="col-md-12">
        <div class="tab-content" id="app-root" data-org-name="@orgName" data-repo-name="@repoName" data-base-url="@Url.Content("~/")">
        </div>
    </div>
</div>

@section scripts {
    <script src="/dist/dispatchIssues.js"></script>
}
