@page "{repoSetName}"
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment HostingEnvironment
@{
    var repoSet = RouteData.Values["repoSetName"];
    ViewData["PageTitlePrefix"] = repoSet;
    ViewData["CurrentGroup"] = repoSet;
}

<div class="row issue-list-row">
    <div class="col-md-12">
        <a asp-controller="IssueList" asp-action="Index" asp-route-repoSet="@repoSet">Switch to Legacy View</a>
        <div class="tab-content" id="app-root" data-repo-set="@repoSet" data-base-url="@Url.Content("~/")" data-environment="@HostingEnvironment.EnvironmentName">
        </div>
    </div>
</div>

@section scripts {
    <script src="~/dist/standup.js"></script>
}
