@page
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment HostingEnvironment
@{
    ViewData["PageTitlePrefix"] = $"Issue Mover";
}

<app>Loading issue mover...</app>

<script src="_framework/blazor.webassembly.js"></script>

<div data-base-url="@Url.Content("~/")">
</div>


@section scripts {
}
